.Pokecard {
  display: inline-block;
  width: 8em;
  background-color: rgb(106, 99, 99);
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

.Pokecard-title {
  color: rgb(254, 101, 101);
  font-weight: bold;
}

.Pokecard-data {
  font-size: 80%;
}